* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c4c4c4;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todo-app {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

#todo-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-btn {
    padding: 10px 15px;
    border: none;
    background-color: #0066cc;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

#add-btn:hover {
    background-color: #bebebe;
}

ul {
    margin-top: 20px;
}

li {
    background-color: #e0f0ff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px; /* Jarak antar tombol */
}

li button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}

li button:hover {
    background-color: #e60000;
}

li .edit-btn {
    background-color: #4CAF50; /* Warna tombol edit */
}

li .edit-btn:hover {
    background-color: #45a049; /* Warna tombol edit saat hover */
}
